In [3]:
import numpy as np
import pandas as pd

In [4]:
# missing data

# options

# keeping the missing data:
    # pros:
        # easiest to do
        # does not manipulate or change the true data
    # cons:
        # many methods do not support NaN
        # often there are reasonable guesses


# dropping or removing the missing data
    # pros:
        # easy to do
        # can be based on rules
    # cons:
        #potential to lose a lot of data or useful information
        # limits trained models for future data

# removing or dropping missing data
    # dropping a row:
        # makes sense when a lot of info is missing
        # often a good idea to calculate a percentage of what data is dropped
    # dropping a column
        # good choice if every row is missing, that particular feature

# filling in the missing data
    # pros:
        # potential to save a lot of data for use in training a model
    # cons:
        # hardest to do and somewhat arbitrary
        # potential to lead to false conclusions

In [5]:
np.nan

nan

In [6]:
pd.NA

In [7]:
pd.NaT

NaT

In [8]:
np.nan == np.nan

False

In [9]:
np.nan is np.nan

True

In [10]:
myvar = np.nan

In [11]:
myvar is np.nan

True

In [12]:
df = pd.read_csv('movie_scores.csv')

In [13]:
df

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [15]:
# check and sellect for null values
df.isnull()

# returns true for missing value

df.notnull()
# for doing the oposite

   first_name  last_name    age    sex  pre_movie_score  post_movie_score
0       False      False  False  False            False             False
1        True       True   True   True             True              True
2       False      False  False  False             True              True
3       False      False  False  False            False             False
4       False      False  False  False            False             False

In [18]:
df[df['pre_movie_score'].notnull()] # select only the ones that have not nul in a column pre-movie-score

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [19]:
df[(df['pre_movie_score'].isnull()) ]

  first_name last_name   age  sex  pre_movie_score  post_movie_score
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN